.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.types-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
	border: 2px solid;
  border-radius: 50px;
	height: 32px;
  width: 50%;
}
.pokemons-container {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
	margin-left: 4px auto;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );
  border-radius: 20px;
  padding: 16px;
	height: 20%;
  width: 30%;
}
body {
  background: linear-gradient(
    90deg,
		rgba(191, 191, 191, 1) 0%,
    rgba(108, 122, 137, 1) 100%
  );
}
